<nav
  class="navbar sticky-top navbar-light"
  style="background-color: #333 !important"
>
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#"
      >Welcome &nbsp;&nbsp;&nbsp;<%= user_fn %>&nbsp;<%= user_ln %></a
    >
    <a class="navbar-brand text-light" href="/logout">Logout</a>
  </div>
</nav>
